# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.tmp
*.csv
*.dat

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Python dependency files
*.egg-info/
dist/
build/

# Cache files
*.cache
*.pkl

# Environment variables
.env